In [4]:
a = 10

In [2]:
print("hello world")

hello world

### python 연습
- print
- 연산
``` print("hello world") ```

In [7]:
x=input("입력해주세요 :")
x

입력해주세요 :디지털

'디지털'

In [13]:
"""
ㅓㅓ
"""

'\nㅓㅓ\n'

In [14]:
"""ㅣㅣ
"""

'ㅣㅣ\n'

In [1]:
type(10.4)

float

In [2]:
x=20

In [3]:
y=30

In [4]:
x + y

50

In [5]:
x=10

In [6]:
x+10

20

In [7]:
x

10

In [10]:
x+=10

In [11]:
x

40

In [12]:
x= none

NameError: name 'none' is not defined

In [13]:
x

40

In [14]:
x = None

In [15]:
x

In [ ]:
print(x)

In [19]:
x=input("x값을 입력해주세요:")
y=input("y값을 입력해주세요:")
x
y

x값을 입력해주세요:20
y값을 입력해주세요:30

'30'

In [20]:
x + y

'2030'

In [21]:
int(x + y)

2030

In [22]:
int(x) + int(y)

50

In [23]:
int(x) = input("x값")
int(y) = input("y값")
x
y

SyntaxError: cannot assign to function call (<ipython-input-23-f85803ae727b>, line 1)

In [24]:
x=input("첫번째 점수:")
y=input("두번째 점수:")
z=input("세번째 점수:")
x
y
z

첫번째 점수:20
두번째 점수:70
세번째 점수:80

'80'

In [25]:
print(x and y and z > 65)

TypeError: '>' not supported between instances of 'str' and 'int'

In [26]:
x>65 and y>65 and z>65

TypeError: '>' not supported between instances of 'str' and 'int'

In [29]:
x=int(x)
y=int(y)
z=int(z)
print(x > 65 and y>65 and z > 65)

False

In [28]:
x

20

In [30]:
word = "apple banana"

In [31]:
len(word)

12

In [32]:
word.upper()

'APPLE BANANA'

In [33]:
word.lower()

'apple banana'

In [36]:
word=word.replace('apple','orange')
word

'orange banana'

In [37]:
name="경수"

In [39]:
print("I am" + name + "!")

I am경수!

In [40]:
print("I am %s!"%name)

I am 경수!

In [41]:
name="tom"

In [42]:
print("I am %s!"%name)

I am tom!

In [43]:
f1, f2 = "apple","banana"

In [44]:
print("I like %s,%s"%(f1,f2))

I like apple,banana

In [45]:
n1,n2=3,3.2323

In [48]:
print("n1=%d,n2=%f"%(n1,n2))

n1=3,n2=3.232300

In [49]:
print("n1=%d,n2=%.2f"%(n1,n2))

n1=3,n2=3.23

In [50]:
print("n1=%d,n2=%10f"%(n1,n2))

n1=3,n2=  3.232300

In [51]:
x=input("아무 문자나 입력해주세요 : ")

아무 문자나 입력해주세요 : 안녕하세요 반갑습니다.

In [52]:
a=input("이름 : ")
b=input("첫번째 점수:")
c=input("두번째 점수:")
d=input("세번째 점수:")
a
b
c
d

이름 : 홍길동
첫번째 점수:80
두번째 점수:70
세번째 점수:60

'60'

In [53]:
e= int(b)+int(c)+int(d)

In [54]:
print(e)

210

In [56]:
print("저의 이름은 %s이고, 총점은 %d입니다."%(a,e))

저의 이름은 홍길동이고, 총점은 210입니다.

In [57]:
print(x)

안녕하세요 반갑습니다.

In [61]:
print("%-10s"%x)

안녕하세요 반갑습니다.

In [62]:
x.replace(" ","")

'안녕하세요반갑습니다.'

### 리스트와 튜플

In [63]:
a = [1,2,3,4,5,6,7]

In [70]:
a= list(range(1,8))

In [71]:
a

[1, 2, 3, 4, 5, 6, 7]

In [72]:
print(a)

[1, 2, 3, 4, 5, 6, 7]

In [73]:
list(range(-8,8,3))

[-8, -5, -2, 1, 4, 7]

In [74]:
list(range(10,0,-2))

[10, 8, 6, 4, 2]

In [75]:
a=list(range(10,0,-2))

In [76]:
a

[10, 8, 6, 4, 2]

In [77]:
a[2]

6

In [78]:
a[-2]

4

In [79]:
a[1:3]

[8, 6]

In [80]:
a[1:-3]

[8]

In [81]:
a[1:-1:2]

[8, 4]

In [84]:

a[1:3]= ["one","two"]

In [85]:
a

[10, 'one', 'two', 4, 2]

In [86]:
del a[1]

In [87]:
a

[10, 'two', 4, 2]

In [88]:
del a[1:3]
a

[10, 2]

In [89]:
a = list(ragne(10))

NameError: name 'ragne' is not defined

In [90]:
a = list(range(10))

In [91]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [92]:
a[:]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [94]:
1 in a

True

In [95]:
12 in a

False

In [96]:
b = [10,11,12]

In [97]:
a+b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [100]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [105]:
a.append(10)
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10, 10]

In [107]:
a=list(range(10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [110]:
a.append([11,12])

In [111]:
len(a)

13

In [112]:
a.extend([13,14])

In [113]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10, [11, 12], 13, 14]

In [114]:
a.pop(11)
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, [11, 12], 13, 14]

In [115]:
a.pop()
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, [11, 12], 13]

In [116]:
a.remove(13)
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, [11, 12]]

In [117]:
a.remove([11,12])
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [118]:
a.insert(5,10)
a

[0, 1, 2, 3, 4, 10, 5, 6, 7, 8, 9, 10]

In [119]:
x=input("숫자를 입력해주세요 :")
x

숫자를 입력해주세요 :10

'10'

In [126]:
a=list(range(2,int(x)+2,2))
a.append(int(x))

In [127]:
a

[2, 4, 6, 8, 10, 10]

In [128]:
y=input("숫자를 입력해주세요 :")
y

숫자를 입력해주세요 :20

'20'

In [129]:
b=list(range(2,int(y)+2,2))
b.append(int(y))

In [130]:
b

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 20]