In [1]:
name=input("이름을 입력하세요:")
age=input("나이를 입력하세요:")
contact=input("연락처를 입력하세요:")
name
age
contact

이름을 입력하세요:홍길동
나이를 입력하세요:27
연락처를 입력하세요:010-3023-1223

'010-3023-1223'

In [7]:
score={이름:name,나이: age, 연락처: contact}

NameError: name '이름' is not defined

In [6]:
name

'홍길동'

In [8]:
n=input("이름을 입력하세요:")
a=input("나이를 입력하세요:")
c=input("연락처를 입력하세요:")
n
a
c

이름을 입력하세요:홍길동
나이를 입력하세요:27
연락처를 입력하세요:010-2121-2323

'010-2121-2323'

name="이름"

name

In [9]:
name = 이름

NameError: name '이름' is not defined

In [10]:
print(name)

홍길동

In [11]:
name = str("이름")

In [12]:
name

'이름'

In [13]:
age= int(27)

In [14]:
age

27

In [15]:
contact = str("연락처")
contact

'연락처'

In [16]:
score = {"name":"n","age":"a","contact":"c"}

In [17]:
score

{'name': 'n', 'age': 'a', 'contact': 'c'}

In [18]:
score = {name:a,age:a,contact:c}

In [19]:
score

{'이름': '27', 27: '27', '연락처': '010-2121-2323'}

In [20]:
name = str("이름")
age= str("나이")
contact = str("연락처")
n=input("이름을 입력하세요:")
a=input("나이를 입력하세요:")
c=input("연락처를 입력하세요:")
n
a
c

이름을 입력하세요:홍길동
나이를 입력하세요:27
연락처를 입력하세요:010-2323-1212

'010-2323-1212'

In [21]:
score = {name:a,age:a,contact:c}

In [22]:
score

{'이름': '27', '나이': '27', '연락처': '010-2323-1212'}

In [23]:
n=input("이름을 입력하세요:")
a=input("나이를 입력하세요:")
c=input("연락처를 입력하세요:")
n
a
c

이름을 입력하세요:이몽룡
나이를 입력하세요:30
연락처를 입력하세요:010-0000-1111

'010-0000-1111'

In [24]:
score2 = {name:a,age:a,contact:c}

In [25]:
score2

{'이름': '30', '나이': '30', '연락처': '010-0000-1111'}

In [28]:
x=[score,score2]
x

[{'이름': '27', '나이': '27', '연락처': '010-2323-1212'},
 {'이름': '30', '나이': '30', '연락처': '010-0000-1111'}]

In [29]:
animal = {"사자","고양이"}

In [30]:
animal

{'고양이', '사자'}

In [31]:
a= {1,2,3,4}

In [32]:
a.remove(1)

In [33]:
a

{2, 3, 4}

In [34]:
a=input("첫번째 점수를 입력하세요:")
b=input("두번째 점수를 입력하세요:")
c=input("세번째 점수를 입력하세요:")
a
b
c

첫번째 점수를 입력하세요:120
두번째 점수를 입력하세요:90
세번째 점수를 입력하세요:80

'80'

In [39]:
a=int(a)
b=int(b)
c=int(c)
a
b
c

80

In [40]:
score=[a,b,c]

In [41]:
score

[120, 90, 80]

In [42]:
if 0<score[0]<=100:
    if 0<score[1]<=100:
        if 0<score[2]<=100:
            if score[0] >65:
                if score[1] > 65:
                    if score[2] >65:
                        print("합겹")
                    else:
                        print("불합격")
                else:
                    print("불합격")
            else:
                print("불합격")
        else:
            print("잘못된 점수입니다.")
    else:
        print("잘못된 점수입니다.")
else:
    print("잘못된 점수입니다.")

잘못된 점수입니다.

In [43]:
d=input("첫번째 점수를 입력하세요:")
e=input("두번째 점수를 입력하세요:")
f=input("세번째 점수를 입력하세요:")
d
e
f

첫번째 점수를 입력하세요:80
두번째 점수를 입력하세요:90
세번째 점수를 입력하세요:75

'75'

In [44]:
d=int(d)
e=int(e)
f=int(f)

In [45]:
score2=[d,e,f]

In [46]:
score2

[80, 90, 75]

In [47]:
if 0<score2[0]<=100:
    if 0<score2[1]<=100:
        if 0<score2[2]<=100:
            if score2[0] >65:
                if score2[1] > 65:
                    if score2[2] >65:
                        print("합겹")
                    else:
                        print("불합격")
                else:
                    print("불합격")
            else:
                print("불합격")
        else:
            print("잘못된 점수입니다.")
    else:
        print("잘못된 점수입니다.")
else:
    print("잘못된 점수입니다.")

합겹

In [48]:
g=input("첫번째 점수를 입력하세요:")
h=input("두번째 점수를 입력하세요:")
i=input("세번째 점수를 입력하세요:")
g
h
i

첫번째 점수를 입력하세요:50
두번째 점수를 입력하세요:60
세번째 점수를 입력하세요:90

'90'

In [49]:
g=int(g)
h=int(h)
i=int(i)
score3=[g,h,i]

In [50]:
score3

[50, 60, 90]

In [51]:
if 0<score3[0]<=100:
    if 0<score3[1]<=100:
        if 0<score3[2]<=100:
            if score3[0] >65:
                if score3[1] > 65:
                    if score3[2] >65:
                        print("합겹")
                    else:
                        print("불합격")
                else:
                    print("불합격")
            else:
                print("불합격")
        else:
            print("잘못된 점수입니다.")
    else:
        print("잘못된 점수입니다.")
else:
    print("잘못된 점수입니다.")

불합격

In [52]:
fruit = ['사과','오렌지']
vegetable = ['당근','호박']

In [54]:
category = input("등록할 카테고리를 선택해주세요 (과일,채소) :")
item = input("등록할 {0}를 입력해주세요 :".format(category))

등록할 카테고리를 선택해주세요 (과일,채소) :채소
등록할 채소를 입력해주세요 :당근

In [57]:
if category == "과일":
    if item in fruit:
        print("이미 등록된 {0} 입니다.".format(category))
    else:
        fruit.append(item)
        fruit
else:
    if item in vegetable:
        print("이미 등록된 {0}입니다.".format(category))
    else:
        vegetable.append(item)
        vegetable

이미 등록된 채소입니다.

In [58]:
category = input("등록할 카테고리를 선택해주세요 (과일,채소) :")
item = input("등록할 {0}를 입력해주세요 :".format(category))

등록할 카테고리를 선택해주세요 (과일,채소) :채소
등록할 채소를 입력해주세요 :오이

In [60]:
if category == "과일":
    if item in fruit:
        print("이미 등록된 {0} 입니다.".format(category))
    else:
        fruit.append(item)
        fruit
else:
    if item in vegetable:
        print("이미 등록된 {0}입니다.".format(category))
    else:
        vegetable.append(item)
        vegetable

이미 등록된 채소입니다.

In [61]:
vegetable

['당근', '호박', '오이']

In [62]:
fruit = ['사과','오렌지']
vegetable = ['당근','호박']

In [63]:
category = input("등록할 카테고리를 선택해주세요 (과일,채소) :")
item = input("등록할 {0}를 입력해주세요 :".format(category))

등록할 카테고리를 선택해주세요 (과일,채소) :채소
등록할 채소를 입력해주세요 :오이

In [66]:
if category == "과일":
    if item in fruit:
        print("이미 등록된 {0} 입니다.".format(category))
    else:
        fruit.append(item)
        print(fruit)
else:
    if item in vegetable:
        print("이미 등록된 {0}입니다.".format(category))
    else:
        vegetable.append(item)
        print(vegetable)

이미 등록된 채소입니다.

In [65]:
vegetable

['당근', '호박', '오이']

In [67]:
fruit = ['사과','오렌지']
vegetable = ['당근','호박']

In [68]:
category = input("등록할 카테고리를 선택해주세요 (과일,채소) :")
item = input("등록할 {0}를 입력해주세요 :".format(category))

등록할 카테고리를 선택해주세요 (과일,채소) :채소
등록할 채소를 입력해주세요 :오이

In [69]:
if category == "과일":
    if item in fruit:
        print("이미 등록된 {0} 입니다.".format(category))
    else:
        fruit.append(item)
        print(fruit)
else:
    if item in vegetable:
        print("이미 등록된 {0}입니다.".format(category))
    else:
        vegetable.append(item)
        print(vegetable)

['당근', '호박', '오이']

In [74]:
a=int(input("첫번째 점수를 입력하세요:"))
b=int(input("두번째 점수를 입력하세요:"))
c=int(input("세번째 점수를 입력하세요:"))
a
b
c

첫번째 점수를 입력하세요:70
두번째 점수를 입력하세요:80
세번째 점수를 입력하세요:100

100

In [75]:
if (0<=a<=100) and (0<=b<=100) and (0<=c<=100):
    if (65<=a) and (65<=b) and (65<=c):
        print("합격")
    else:
        print("불합격")
else:
    print("잘못된 점수입니다.")

합격

In [79]:
a={'나':0,'너':1}

In [80]:
b=a.copy()

In [81]:
b

{'나': 0, '너': 1}

In [91]:
b.update({'나':2})

In [92]:
a

{'나': 0, '너': 1}

In [93]:
b

{'나': 2, '너': 1}

In [103]:
x=[3,6,9,20,-70,5]

In [119]:
for i in range(len(x)):
    x[i]*=10

print(x)

[300, 600, 900, 20000, -7000, 500]

In [107]:
y={'math':70,'science':80,'english':20}

In [108]:
y

{'math': 70, 'science': 80, 'english': 20}

In [112]:
for i in y:
    print(i,end="")
    print(y[i])

math70
science80
english20

In [115]:
for i in y:
    y[i] += 10
    print(y[i])
y

80
90
30

{'math': 80, 'science': 90, 'english': 30}

In [120]:
num=int(input("몇단을 출력하시겠습니까?:"))
num

몇단을 출력하시겠습니까?:3

3

In [128]:
result=[]
for i in range(1,10):
    x= num*i
    result.append(x)
    print("{0}*{1}={2}".format(num,i,x))

3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27

In [130]:
word=['school','game','piano','science','hotel','mountain']

In [131]:
word

['school', 'game', 'piano', 'science', 'hotel', 'mountain']

In [137]:
word2=[]
for i in word:
    if len(i)>=6:
        word2.append(i)
print(word2)

['school', 'science', 'mountain']

In [138]:
results=[]
for i in range(2,10):
    for j in range(1,10):
        x=i*j
        results.append(x)
        print("{0}*{1} = {2}".format(i,j,x))

2*1 = 2
2*2 = 4
2*3 = 6
2*4 = 8
2*5 = 10
2*6 = 12
2*7 = 14
2*8 = 16
2*9 = 18
3*1 = 3
3*2 = 6
3*3 = 9
3*4 = 12
3*5 = 15
3*6 = 18
3*7 = 21
3*8 = 24
3*9 = 27
4*1 = 4
4*2 = 8
4*3 = 12
4*4 = 16
4*5 = 20
4*6 = 24
4*7 = 28
4*8 = 32
4*9 = 36
5*1 = 5
5*2 = 10
5*3 = 15
5*4 = 20
5*5 = 25
5*6 = 30
5*7 = 35
5*8 = 40
5*9 = 45
6*1 = 6
6*2 = 12
6*3 = 18
6*4 = 24
6*5 = 30
6*6 = 36
6*7 = 42
6*8 = 48
6*9 = 54
7*1 = 7
7*2 = 14
7*3 = 21
7*4 = 28
7*5 = 35
7*6 = 42
7*7 = 49
7*8 = 56
7*9 = 63
8*1 = 8
8*2 = 16
8*3 = 24
8*4 = 32
8*5 = 40
8*6 = 48
8*7 = 56
8*8 = 64
8*9 = 72
9*1 = 9
9*2 = 18
9*3 = 27
9*4 = 36
9*5 = 45
9*6 = 54
9*7 = 63
9*8 = 72
9*9 = 81

In [139]:
z=[3,6,9,20,-70,5]

In [144]:
for i in z:
    for j in range(len(z)):
        if

0
1
2
3
4
5

In [164]:
t=0
i=1
s=[]
while i!=0:
    i=int(input("값을 입력해주세요.:"))
    s.append(i)

값을 입력해주세요.:30
값을 입력해주세요.:20
값을 입력해주세요.:50
값을 입력해주세요.:60
값을 입력해주세요.:0

In [165]:
for i in s:
    t+=i
print(f"합계는 {t}")

합계는 160

In [ ]:
i=1
t=0
v=0
h=[]

In [ ]:
while i == 1 or 2 or 3:
    i=int(input("가위(1),바위(2),보(3)를 입력해주세요.:"))
    import random #random
    random.random()
    computer=random.randint(1,3)4
    if i>computer:
        r="승"
        h.append(r)
    else:
        pass
    if i ==1:
        i="가위"
    elif i ==2:
        i="바위"
    else:
        i = "보"
    if computer == 1:
        computer = "가위"
    elif i ==2:
        computer="바위"
    else:
        computer = "보"
    t+=1
    print(
        f"유저:{i},컴퓨터:{computer}")
for i in h:
    if i == "승":
        v+=1
print(f"전적:{t}, 승리:{v}")

In [177]:
i=1
t=0
v=0
h=[]


while i==1 or i==2 or i==3:
    i=int(input("가위(1),바위(2),보(3)를 입력해주세요.:"))
    if i!=1 and i!=2 and i!=3:
        for i in h:
            if i == "승":
                v+=1
        print(f"전적:{t}, 승리:{v}")
    else:
        import random #random
        random.random()
        computer=random.randint(1,3)
        if i>computer:
            r="승"
            h.append(r)
        else:
            pass
        if i ==1:
            u="가위"
        elif i ==2:
            u="바위"
        else:
            u = "보"
        if computer == 1:
            computer = "가위"
        elif i ==2:
            computer="바위"
        else:
            computer = "보"
        t+=1
        print(f"유저:{u},컴퓨터:{computer}")

가위(1),바위(2),보(3)를 입력해주세요.:3
유저:보,컴퓨터:가위
가위(1),바위(2),보(3)를 입력해주세요.:2
유저:바위,컴퓨터:바위
가위(1),바위(2),보(3)를 입력해주세요.:1
유저:가위,컴퓨터:보
가위(1),바위(2),보(3)를 입력해주세요.:3
유저:보,컴퓨터:가위
가위(1),바위(2),보(3)를 입력해주세요.:4
전적:4, 승리:2

In [213]:
z=[3,6,9,20,-7,5]
for i in z:
    n=idx
    for j in range(len(z)):
        if i > z[j]:
            i=z[j]
    z.insert(n,i)
    
print(z)

KeyboardInterrupt:

In [211]:
a=list(range(1,101))
print(a,end="")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [212]:
for i in a:
    if (i %3 == 0) and (i %5==0):
        print("3과5의 공배수")
    elif i%3 == 0 or i%5 == 0 :
        if i%3 == 0:
            print("3의 배수")
        else:
            print("5의 배수")
    else:
        print(i)

1
2
3의 배수
4
5의 배수
3의 배수
7
8
3의 배수
5의 배수
11
3의 배수
13
14
3과5의 공배수
16
17
3의 배수
19
5의 배수
3의 배수
22
23
3의 배수
5의 배수
26
3의 배수
28
29
3과5의 공배수
31
32
3의 배수
34
5의 배수
3의 배수
37
38
3의 배수
5의 배수
41
3의 배수
43
44
3과5의 공배수
46
47
3의 배수
49
5의 배수
3의 배수
52
53
3의 배수
5의 배수
56
3의 배수
58
59
3과5의 공배수
61
62
3의 배수
64
5의 배수
3의 배수
67
68
3의 배수
5의 배수
71
3의 배수
73
74
3과5의 공배수
76
77
3의 배수
79
5의 배수
3의 배수
82
83
3의 배수
5의 배수
86
3의 배수
88
89
3과5의 공배수
91
92
3의 배수
94
5의 배수
3의 배수
97
98
3의 배수
5의 배수

In [14]:
x= [3,6,9,20,-7,5]

In [15]:
for i in range(len(x)-1):
    for j in range(len(x)-i-1):
        if x[j]> x[j+1]:
            temp=x[j]
            x[j]=x[j+1]
            x[j+1]=temp
print(x)

[-7, 3, 5, 6, 9, 20]

In [17]:
x= [3,6,9,20,-7,5]
for i in range(len(x)-1):
    for j in range(len(x)-i-1):
        print(i,j)

0 0
0 1
0 2
0 3
0 4
1 0
1 1
1 2
1 3
2 0
2 1
2 2
3 0
3 1
4 0

In [18]:
import random
random.randint(1, 3)
game_dict = {1:"가위", 2:"바위", 3:"보"}
total = 0
win = 0
user = 1
computer = -1

while user in [1, 2, 3]:
    user = int(input("가위(1), 바위(2), 보(3) 을 입력해주세요 :"))
    computer = random.randint(1, 3)
    
    if user not in [1, 2, 3]:
        break
    
    total += 1
    print(f"유저 : {game_dict[user]}, 컴퓨터 : {game_dict[computer]}")
    
    if (user == 1 and computer == 3) or (user == 2 and computer == 1) or (user == 3 and computer == 2):
        win += 1
        
        

print(f"게임종료 (전체:{total} ,승리:{win})")

가위(1), 바위(2), 보(3) 을 입력해주세요 :3
유저 : 보, 컴퓨터 : 바위
가위(1), 바위(2), 보(3) 을 입력해주세요 :2
유저 : 바위, 컴퓨터 : 가위
가위(1), 바위(2), 보(3) 을 입력해주세요 :1
유저 : 가위, 컴퓨터 : 가위
가위(1), 바위(2), 보(3) 을 입력해주세요 :4
게임종료 (전체:3 ,승리:2)